@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.top-part{
    background-image: url("images/top-banner.png");
    height: 500px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    height: 600px;
    padding: 2%;
}
h1{
    font-size: 50px;
    
}
.high{
    color: yellowgreen;
}

.half-width img{
    margin-top: 5%;
    width: 100%;
}

.half-width a{
    
    background: linear-gradient(45deg,tomato,lightsalmon);
    text-decoration: none;
    
    padding:10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.half-width a:hover{
    background: chartreuse;
    border-left: 5px solid black;
}
.second-part{
    
    height: 600px;
    width: auto;
   

}
.middle-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    height: 500px;
    padding: 2%;
}
.middle-width img{
    
    width: 100%;
}
.middle-width a{
    background: linear-gradient(45deg,tomato,lightsalmon);
    text-decoration: none;
    
    padding:10px 20px;
    
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.last-part{

    height: 600px;
    width: auto;
    
    
}
.last-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    height: 500px;
    padding: 2%;
}
#junior1{

    position: absolute;
    width: 40%;
    height: 470px;
    background:#F0DDEF;
    border-radius: 20px;
    border-left:5px solid rgba(77, 22, 68, 0.86);

}
#junior{

position: absolute;
width: 40%;
height: 470px;
background: #F6F0FD;
border-radius: 20px;
border-left:5px solid rgba(77, 22, 68, 0.86);
    
}






